#carousel
{
	width:100%;
	height:100%;
	padding:0px 0px;
	margin:0px 0px;
}

body
{
	background-color:#F5F5F5;
	padding:0px 0px;
	margin:0px 0px;
}

.images
{
	padding:0px 0px;
	margin:10px 10px;
	align:right;
}

.modal-backdrop
{
	display:none;
}

#loginlink
{
   width:70px;
   height:50px;
}

#registerlink
{
   width:80px;
   height:50px;
}

.modal-header
{
	background-color:#FF5F19;
}

.modal-body
{
	background-color:#DDDDDD;
}

.modal-footer
{
	background-color:#FF5F19;
}

.navbar-nav.navbar-center 
{
    position: absolute;
    left: 50%;
	top:25%;
    transform: translatex(-50%);
}

#registerlink.modal-header
{
	background-color:#FF5F19;
}

#bestpricediv
{
	background-color:#FF5F19;
	color:white;
	width:100%; 
	height:50px;
}

#li1
{
	padding:10px;
	padding-left:12%;
	padding-right:10%;
	font-size:20px;
	width:33%; 
	height:50px;
	display:inline;
	float: left;
}

#li2
{
	padding:10px;
	padding-left:12%;
	padding-right:10%;
	font-size:20px;
	width:33%;
	height:50px;
	display:inline;
	float:left;
}

#li3
{
	padding:10px;
	padding-left:12%;
	padding-right:10%;
	font-size:20px;
	width:33%;
	height:50px;
	display:inline;
	float: left;
}

.lit1
{
	color:black;
	width:1200px;
	margin:10px 10px;
}

tr
{
	height:30px;
}

.lit2
{
	color:black;
	width:700px;
	margin:10px 10px;
	padding:0px 0px;
}

#th2l
{
	width:200px;
}

#lid2
{
	position: relative;
    left:-300px;
	top:10px;
}

.lit3
{
	color:black;
	width:1200px;
	margin:10px 10px;
	padding:0px 0px;
}


#lid3
{
	position: relative;
    left:-945px;
	top:10px;
}

.th3l
{
	width:200px;
}

#botnav
{
	margin:0px 0px;
	padding:0px 0px;
}